/*LOGO, BURGER OG BG BILLEDE*/

.hero .logo {
  width: 100px;
  height: auto;
  margin-bottom: 20px;
}

.nav ul li a {
  color: white;
}

.nav ul li a {
  text-decoration: none;
  font-weight: 20;
}

.hero-bg {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center center;
  height: 100vh;
  margin-top: 0px;
}

/*portfolio logo*/

.pf-logo {
  position: absolute;
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
  width: 300px;
}

/* NAME */

.fornavn {
  position: absolute;
  text-align: center;
  width: max-content;
  white-space: nowrap;
  top: 80%;
  left: 59%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 48px;
  letter-spacing: 80px;
}

.efternavn {
  position: absolute;
  top: 87%;
  left: 52%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 48px;
  letter-spacing: 20px;
}
