/*LOGO, BURGER OG BG BILLEDE*/

.hero .logo {
  width: 80px;
  height: auto;
  margin-bottom: 20px;
}

.nav ul li a {
  color: white;
}

.nav ul li a {
  text-decoration: none;
  font-weight: 20;
}

.hero-bg {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center center;
  height: 100vh;
  margin-top: 0px;
  border-bottom: 20px solid #2c5090;
}

/*portfolio logo*/
.pf-log {
  position: absolute;
  top: 50%;
  left: 10px;
  width: 60px;
  transform: translateY(-50%);
  font-size: 85px;
  color: white;
  line-height: 140px;
}

.pf-log h1 {
  font-weight: 900;
}

.rectangle {
  position: absolute;
  width: 260px;
  height: 180px;
  background: transparent;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px);
  top: 62%;
  right: 15%;
  z-index: 3;
  overflow: hidden;
}

.rectangle-text {
  position: absolute;
  top: 80%;
  left: 10px;
  width: 60px;
  transform: translateY(-50%);
  font-size: 15px;
  color: white;
}
.rectangle-text h2 {
  font-weight: 300;
}

.rectangle::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
    circle at center,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(44, 80, 144, 0.6) 65%
  );
  filter: blur(2px);
  z-index: 0;
}

/* NAME */

.fornavn {
  position: absolute;
  text-align: center;
  width: max-content;
  white-space: nowrap;
  top: 85%;
  left: 59%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 40px;
  letter-spacing: 75px;
  font-weight: 500;
}

.efternavn {
  position: absolute;
  top: 92%;
  left: 52%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 40px;
  letter-spacing: 25px;
  font-weight: 500;
}
