/*LOGO OG BURGER*/
.hero .logo {
  width: 100px;
  height: auto;
  margin-bottom: 20px;
}
#blomst-logo {
  color: #2c5090;
}
.hero {
  position: relative;
}
.nav ul li a {
  color: #2c5090;
}

.nav ul li a {
  text-decoration: none;
  font-weight: 20;
}

.burger span {
  background: #2c5090;
}

/*TITLER OG TEKST*/
.title {
  position: absolute;
  top: 30%;
  left: 35%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: #672744;
  letter-spacing: 10px;
}
/* VECTOR STJERNE */

.stjerne {
  position: absolute;
  top: 25%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 130px;
  color: white;
}
