/* HEADER, LOGO OG BURGER*/
.hero .logo {
  width: 100px;
  height: auto;
  margin-bottom: 20px;
}

.hero {
  position: relative;
}
.nav ul li a {
  color: #2c5090;
}

.nav ul li a {
  text-decoration: none;
  font-weight: 20;
}

.burger span {
  background: #2c5090;
}

/* BUTTONS */
.back-button {
  position: absolute;
  top: 20%;
  left: 5%;
  color: #672744;
  text-decoration: none;
  font-size: 20px;
  font-weight: 200;
  z-index: 10;
}

.next-button {
  position: relative;
  margin-top: 1000px;
  left: 40%;
  color: #672744;
  text-decoration: none;
  font-size: 20px;
  font-weight: 200;
  z-index: 10;
}

/* TITLER OG TEKST*/
.title {
  position: relative;
  margin-top: 250px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: #672744;
}
.tema05-title1 {
  position: relative;
  margin-top: -90px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: 400;
}

#p1 {
  margin-top: 0px;
  letter-spacing: 2px;
  line-height: 22px;
  font-weight: 250;
}

#p2 {
  margin-top: 40px;
  letter-spacing: 2px;
  line-height: 22px;
  font-weight: 250;
}

.tema05-title2 {
  position: relative;
  margin-top: 60px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: 400;
}
#p3 {
  margin-top: 0px;
  letter-spacing: 2px;
  line-height: 22px;
  font-weight: 250;
}
