/* HEADER, LOGO OG BURGER*/
.hero .logo {
  width: 80px;
  height: auto;
  margin-bottom: 20px;
}

.hero {
  position: relative;
}
.nav ul li a {
  color: #2c5090;
}

.nav ul li a {
  text-decoration: none;
  font-weight: 20;
}

.burger span {
  background: #2c5090;
}

/* TITLER OG TEKST*/
.title {
  position: relative;
  margin-top: 280px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: #672744;
}
.tema03-title1 {
  position: relative;
  margin-top: -40px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: 400;
}

#p1 {
  margin-top: 0px;
  letter-spacing: 2px;
  line-height: 22px;
  font-weight: 250;
}

#p2 {
  margin-top: 40px;
  letter-spacing: 2px;
  line-height: 22px;
  font-weight: 250;
}

.tema03-title2 {
  position: relative;
  margin-top: 60px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: 400;
}
#p3 {
  margin-top: 0px;
  letter-spacing: 2px;
  line-height: 22px;
  font-weight: 250;
}

/* BILLEDER */
.tema03billede1 {
  display: block;
  margin: 90px auto 90px;
  width: 350px;
  height: auto;
}

.tema03billede2 {
  display: block;
  margin: 90px auto 100px;
  width: 350px;
  height: auto;
}

/* BUTTONS */
.back-button {
  position: absolute;
  margin-top: -160px;
  margin-left: 5%;
  color: #672744;
  text-decoration: none;
  font-size: 20px;
  font-weight: 200;
  z-index: 10;
}

.next-button {
  position: absolute;
  margin-bottom: 60px;
  right: 5%;
  color: #672744;
  text-decoration: none;
  font-size: 20px;
  font-weight: 200;
  z-index: 10;
}

/*BLOMST SVG I BUNDEN*/
#blomst1 {
  width: 80px;
  height: auto;
  display: block;
  margin: 160px auto 50px;
}
.blomst {
  color: #672744;
}

/*LINK TIL SITE*/
.link {
  display: block;
  width: 140px;
  margin: 30px auto;
  padding: 6px 0;
  text-align: center;
  background-color: transparent;
  color: #672744;
  text-decoration: none;
  font-size: 14px;
  border: 1px solid #672744;
  border-radius: 999px;
}
.link:hover {
  background-color: #672744;
  color: white;
}
